@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: hsl(217, 19%, 35%); /*Very Dark Grayish Blue*/
  --color2: hsl(214, 17%, 51%); /*Desaturated Dark Blue*/
  --color3: hsl(212, 23%, 69%); /*Grayish Blue*/
  --color4: hsl(210, 46%, 95%); /*Light Grayish Blue*/
  --color5: white;
  --fontFamily: Manrope;
  --fontSize: 13px;
  --fontWeights: 500, 700;
  --fontColor: #887f7f;
  --radius: 1rem;
}

/* @media only screen and (max-width: 25rem) {  */
body {
  min-height: 100svh;
  background-color: var(--color4);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  padding: 2rem;
  border-radius: var(--radius);
  /* margin: 2rem; */
}
.container {
  max-width: 24rem;
  height: auto;
  text-align: center;
  background-color: var(--color5);
  border-radius: var(--radius);
}

.container > img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0rem 0rem;
}

.content {
  background-color: var(--color5);
  padding: 2rem;
  text-align: justify;
  border-radius: var(--radius);
}

.content p {
  padding-top: 1rem;
  color: var(--fontColor);
  font-weight: 700;
  font-size: var(--fontSize);
  line-height: 2em;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 5.2rem;
  margin-top: 0rem;
  /* display: none; */
}

.footer > img {
  max-width: 5rem;
  border-radius: 3rem;
  padding: 1rem;
}

.info {
  margin-left: -5rem;
  font-weight: 900;
  text-align: justify;
}

time {
  color: var(--fontColor);
  font-weight: normal;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  height: 2rem;
  background-color: var(--color4);
  border-radius: var(--radius);
  border: none;
}

/* share link for share btn */
footer {
  width: 24rem;
  height: 4rem;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0rem 1rem 1rem;
  gap: 1rem;
  opacity: 0;
  margin-left: -2rem;
  margin-bottom: -2rem;
}

footer > button {
  background-color: var(--color2);
  margin-left: 5.5rem;
}

footer p {
  color: #ccc;
  letter-spacing: 0.3rem;
}

i {
  color: white;
}

/*Desktop size*/
/* } */

@media only screen and (max-width: 25rem) {
  body {
    margin: 0.5rem;
  }
}

@media only screen and (min-width: 25rem) {
  body {
    background-color: var(--color4);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    max-width: 58rem;
  }

  .container > img {
    max-width: 25rem;
    height: -webkit-fill-available;
    border-radius: 1rem 0rem 0rem 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding-top: 2rem;
    gap: 6rem;
  }

}
